@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: 'Baloo Bhaijaan 2', sans-serif;
	box-sizing: border-box;
}
body {
	background-color: #f1f1f1;
}
.heading {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.heading h2 {
	font-size: 3rem;
	font-weight: 600;
}
.heading p {
	font: 1.25rem;
}
.btn {
	border-radius: 0.75rem;
	padding-left: 1.5rem;
	outline: none;
	border: none;
	cursor: pointer;
	padding-right: 1.5rem;
}
.btn-white {
	background-color: #ffffff;
}
.btn-gray {
	background-color: #f9f9f9;
}
.btn-dark {
	background-color: #141414;
	color: white;
}
.btn-lg {
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	font-size: 1rem;
	font-weight: 600;
}
.btn-sm {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.container {
	margin: 0 auto;
}
.spacing {
	padding: 7.5rem 0 0 0;
}
img {
	object-fit: cover;
}
ul li {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.15rem;
}
.links,
.links ul {
	display: flex;
	align-items: center;
	font-size: 0.875rem;
	font-weight: 600;
	letter-spacing: 1.6;
}
.links {
	gap: 0.75rem;
}
.links ul {
	gap: 1rem;
}
.links ul:first-child li {
	padding: 0.625rem 2rem;
}
.hero {
	display: flex;
	justify-content: space-between;
}
.hero .right {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 50%;
}

.hero .right h1 {
	width: 70%;
}

.mobile {
	display: none;
}
.hero .right > p {
	width: 98%;
}

.hero .right-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.hero .right-content > div {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.hero > div > div > div button:first-child {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.hero > div > div > div button:first-child,
.hero > div > div > div button:last-child {
	cursor: pointer;
}

.hero > div div button:first-child span {
	height: 22px;
}
.hero > div h1 {
	font-size: 3.75rem;
	font-weight: 600;
}
.hero > div > p {
	font-size: 1.5rem;
}
.no-need-for-credit {
	color: #8a8a8a;
}

.left-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.tools {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	gap: 2.4rem;
}
.meetings-details {
	margin-top: 1.875rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.meetings .heading {
	text-align: center;
}
.meetings .meetings-details .main {
	border-radius: 0.75rem;
	overflow: hidden;
	padding: 2rem 0;
	display: flex;
	background-color: #141414;
	color: white;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}
.meetings .meetings-details .main div:first-child {
	width: 35%;
}
.meetings .meetings-details .main div:first-child img {
	width: 100%;
}
.meetings .meetings-details .main div:last-child {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 34%;
}
.meetings .meetings-details .main div:last-child p:first-child {
	font-weight: 600;
	font-size: 2rem;
}
.meetings .meetings-details .main div:last-child p:last-child {
	font-size: 1.25rem;
	color: #ffffff90;
}
.sub {
	display: flex;
	gap: 1rem;
}
.sub-detail {
	width: 33%;
	overflow: hidden;
	border: 1px solid #d4d4d4;

	border-radius: 0.75rem;
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 1rem 1.2rem 2rem;
}
.sub-detail > div:first-child img {
	width: 100%;
	height: 100%;
}

.sub-detail > div:last-child {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.sub-detail > div:last-child p:first-child {
	font-weight: 600;
	font-size: 2rem;
}
.sub-detail > div:last-child p:last-child {
	color: #000000e2;
	font-size: 1.2rem;
}

.trynow .heading {
	text-align: center;
}

.trynow .trynow-content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.trynow .trynow-content > div:last-child {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	align-items: center;
}

.btn.start-now {
	padding: 0.5rem 2rem;
}

.trynow {
	margin-bottom: 5rem;
}

.menu {
	display: none;
	cursor: pointer;
	border: 0;
	outline: 0;
}
footer {
	background-color: #fff;
	padding: 2.5rem 1.25rem;
}
footer > .container {
	width: 100%;
}

footer > div:first-child {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin-bottom: 2rem;
}

footer .footer-links p {
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

footer .footer-links ul {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

footer .footer-links ul li a {
	color: #737373;
}

.credits {
	display: flex;
	justify-content: space-between;
}

.social-media {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.social-media li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: #ddd;
}

.social-media li a {
	height: 20px;
}
@media (max-width: 1280px) {
	.container {
		width: 95%;
	}
}
@media (min-width: 1280px) {
	.container {
		width: 1260px;
	}
}
@media (max-width: 768px) {
	.container {
		width: 98%;
	}
	.heading {
		gap: 1rem;
	}
	.heading h2 {
		font-size: 1.75rem;
	}
	.heading p {
		font: 1.125rem;
	}
	.meetings .heading {
		align-items: center;
	}
	.meetings .heading p {
		width: 80%;
	}
	.menu {
		display: block;
	}
	nav {
		position: relative;
	}
	.links {
		display: none;
		flex-direction: column;
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		background-color: #f1f1f1;
		padding: 1rem 0 2rem 0;
	}
	.links.active {
		display: block;
	}
	.links ul {
		flex-direction: column;
	}

	.links ul:first-child {
		text-align: start;
	}

	.links ul:last-child {
		display: flex;
		gap: 1rem;
	}
	.links ul:last-child li a {
		display: block;
		text-align: center;
	}
	.links ul:first-child li {
		padding: 0.625rem 1rem;
	}
	.links ul:last-child,
	.links ul:last-child li,
	.links ul:last-child li a,
	.links ul:first-child,
	.links ul:first-child li,
	.links ul:first-child li a {
		width: 100%;
	}

	.spacing {
		padding: 5rem 0 0 0;
	}
	.hero {
		flex-direction: column;
		gap: 3.75rem;
	}
	.hero .right > p {
		width: 100%;
		font-size: 1.125rem;
	}
	.hero .right {
		gap: 1rem;
		width: 100%;
	}
	.right-content {
		text-align: center;
		margin-top: 2rem;
	}
	.hero .right-content > div {
		flex-direction: column;
	}
	.hero .right-content > div button {
		width: 100%;
		justify-content: center;
	}
	.hero .right h1 {
		width: 100%;
	}
	.hero > div h1 {
		font-size: 2.25rem;
	}
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.left-content {
		align-items: center;
	}
	.tools {
		gap: 1rem;
	}
	.tools img {
		transform: scale(0.8);
	}

	.meetings .meetings-details .main {
		flex-direction: column;
		gap: 1.875rem;
	}
	.meetings .meetings-details .main div:first-child {
		width: 100%;
	}
	.meetings .meetings-details .main div:first-child img {
		object-fit: cover;
	}
	.meetings .meetings-details .main div:last-child {
		width: 85%;
	}
	.meetings .meetings-details .main div:last-child p:first-child {
		font-size: 1.5rem;
	}
	.meetings .meetings-details .main div:last-child p:last-child {
		font-size: 1.2rem;
	}

	.sub {
		flex-direction: column;
	}
	.sub-detail {
		width: 100%;
		gap: 4rem;
		padding: 1rem 1.2rem 2rem;
	}

	.sub-detail > div:last-child {
		flex-direction: column;
	}

	.sub-detail > div:last-child p:first-child {
		font-size: 1.5rem;
	}
	.sub-detail > div:last-child p:last-child {
		font-size: 1.25rem;
	}
	/* ************************** */
	.trynow .trynow-content {
		align-items: center;
	}
	.trynow .heading {
		width: 70%;
	}
	/* ************************** */
	.credits {
		align-items: center;
		flex-direction: column-reverse;
		gap: 1rem;
	}
	.social-media {
		gap: 2rem;
		justify-content: center;
	}
	footer > div:first-child {
		text-align: center;
		gap: 2.5rem;
	}
}
