/* .content {
	width: 100%;
	text-align: center;
} */
/* body,
.main-content-rtl {
	direction: rtl;
	font-family: 'Tajawal', 'Cairo', Arial, sans-serif;
	background: #f5f5f5;
	color: #141414;
	margin: 0;
	padding: 0;
} */

@media (max-width: 768px) {
}
